<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <section class="hero" id="hero">
      <h1 class="hero-title">OCR</h1>
      <h2 class="hero-subtitle">App</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="drag-drop-area" id="dragDropArea">
          <img src="img/cloud.svg" alt="Cloud Icon" class="cloud-icon" />
          <img src="img/img.svg" alt="img Icon" class="img hideElement" />
          <p class="instructionText">Drag and drop or click to upload</p>
          <input
            type="file"
            id="fileInput"
            name="file"
            accept=".png, .jpg, .jpeg"
          />
        </div>
      </form>

      <button class="hero-button" id="generate">Generate Now</button>
    </section>

    <section class="resultsSection">
      <div id="results" class="results"></div>
    </section>

    <script src="./js/script.js"></script>
  </body>
</html>
